header{
  text-align: center;
}

a{
  text-decoration: none;
}
li {
  display:inline;
}
.carousel-indicators li{
  width: 28px;
    height: 38px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color:#8b0000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
body{
  margin:auto;
  
}
