html{
  background-image: url("images/kia.jpg");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
}
header{
  text-decoration: none;
  text-align: center;
  font-size: 25px
}
a{
  text-decoration: none;
  flex:1;
}
