body{
  background-color: #237FA0;
  background-attachment: fixed;
  background-position:center;
  font-family: 'Abril Fatface', cursive;
}
header{
  text-decoration: none;
  text-align: center;
  font-size: 35px
}
.me{
  text-align: center;
}
h1{
  text-align: center;
}

nav{
  background-color: #B1D0DB;
}
nav li a{
  color:black;
}

#about{
  font-size:25px;
}
#projects{
  background-color: #B1D0DB;
}
.card {
    width: 100%;
    float: right;
}
.card-content{
    text-align: center;
    font-weight: bold;
  }
#footer{
width:100%;
text-align: center;
background-color: black;
display: block;
margin: 0;
color: white;
padding-bottom: 2%;
}
.icons{
  font-size: 45px;
  color: white;
  margin-right: 60px;

}
a:hover{
  color:white;
}

@media only screen and (max-width: 790px) {
	nav a {
		padding: .2rem 2rem;
	}
	.col-third {
		width: 100%;
	}
	.articles button {
		margin-top: .5rem;
	}

	.col-third img {
		display: block;
		margin: 3rem auto 1rem;
	}

	.col-third h3 {
		margin-bottom: .5rem;
	}

	.col-third:first-of-type img {
		margin-top: 0;
	}
}
@media only screen and (max-width: 560px) {
	html {
		font-size: 14px;
	}

	nav ul {
		display: none;
	}

	nav {
		background-color: transparent;
	}



	.col-half {
		width: 100%;
	}

	footer button {
		width: 300px;
	}

	footer input {
		margin-right: 0;
	}
