html{
  background-image: url("images/kia.jpg");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
}
header{
  text-decoration: none;
  text-align: center;
  font-size: 35px
}
a{
  text-decoration: none;
  color: white;
}
li{
  display: inline;
  line-height: 4px;
  background-color: black;
  padding: 14px 16px;
}
h1{
  text-align: center;
  color: white;
  font:45px;
}
